<div class="error-wrap">
	<% flash.each do |name, msg| %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        <%= render partial: "devise/shared/error", locals: { name: name, msg: msg } %>
			</div>
		</div>
	</div>
<% end %>
</div>
