option_settings:
  aws:elasticbeanstalk:application:environment: 
    RACK_ENV: production
    RAILS_ENV: production
    GITHUB_TOKEN: b16ceb5e39f6cdb955533d58ec2519de94a94a2f
    SECRET_KEY_BASE: 38471988152f9edb0a9759abeff05df30fdcbc1e2e238ad14da0339a1f2d86d5f5801efe890489db8086d3c328cad1bee71c3b0347eb21477320983c7da1d4fe
    RAILS_SKIP_ASSET_COMPILATION: false
    RAILS_SKIP_MIGRATIONS: true
    UMS_SMTP_PORT: 1025
    UMS_OC_OAUTH_HOST: https://login-devel.owenscorning.com
    AWS_ACCESS_KEY_ID: AKIAJYTKIPH6YKIDO2BQ
    AWS_SECRET_ACCESS_KEY: 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
    DATABASE_HOST: oc-stage-west.ch2zm0agdy6p.us-west-2.rds.amazonaws.com
    UMS_SMTP_HOST: login-devel.owenscorning.com
    UMS_DATABASE: ums-devel
    DATABASE_USERNAME: ocpostgres
    DATABASE_PASSWORD: u1sumbch
    TEST_ENV_VAR: 1923
#container_commands:
#  01_migrate:
#    command: bundle exec rake db:migrate
#    leader_only: true
