<% digital_data(global: {pageSection: 'login'}) %>
<div id="main_content" data-section="" data-page="">
	<% content_for :page_js do %>
		<script>
			var rubyMailBoxUsers = "<%= @mailBoxUsers %>";
		</script>
	<% end %>
	<div class="container">
		<div class="white-wrap">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h1><%= t('devise.sessions.new.login') %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
			    <%= render "devise/shared/login_form" %>
				</div>
			</div>
			<div class="row mtl" data-okta-no-show>
				<div class="col-sm-12">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>
