.cp-sign-in__background{
  background: image-url('ui/bg/customer_portal_sign_in_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cp-sign-in__body {
  background: none;
}

.cp-sign-in__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.cp-sign-in__login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 30px 20px 30px;

  @media (min-width: $screen-xs-max) {
    max-width: 460px;
  }

  @media (max-width: $screen-xs-max) {
    height: 100vh;
  }
}

.cp-sign-in__login-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cp-sign-in__login-header-logo {
  margin-right: .25em;
}

.cp-sign-in__login-header-heading {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
}

.cp-sign-in__login-box-heading {
  font-size: 32;
  font-weight: bold;
  letter-spacing: -0.32px;
  line-height: 36px;
  margin: 20px 0 10px 0;
}

.cp-sign-in__errors {
  margin: 1em 0;
}

.cp-sign-in__form {
  width: 100%;
}

.cp-sign-in__links {
  margin-top: 20px;
}

.cp-sign-in__legal-notice {
  color: #ccc;
  font-size: 9px;
  margin-top: 2em;
}

.cp-sign-in__peekaboo-panther {
  width: 0;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.cp-sign-in__peekaboo-panther:after {
  content: image-url('ui/panther/peekaboo_panther.png');
  margin-left: -22px;
}

[data-okta-show] {
  display: none;
}
