.h1, h1, h2, .h2, .h3, h3, .h4, h4, .h5, h5 {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
}

h1, .h1 {
  color: $oc-gray;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: -0.010em;

  @media (min-width: $screen-sm-min) {
    font-size: 32px;
    line-height: 36px;
  }
}

h2, .h2 {
  font-size: 21px;
  line-height: 23px;

  @media (min-width: $screen-sm-min) {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
  }
}

h3, .h3 {
  color: $oc-gray;
  font-size: 18px;
  line-height: 21px;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    line-height: 28px;
  }
}
.page-header {
  font-size: 23px;
  line-height: 23px;
  padding: 0;
  border: 0;
  margin: 0px 0 20px 0;
  font-weight: normal;

  h1, h2 {
    margin-top: 10px;
  }

  sup {
    font-size: 50%;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 35px;
    line-height: 38px;
    font-weight: 300;
  }
  @media (min-width: $screen-md-min) {
    font-size: 45px;
    line-height: 48px;
  }
}

.breadcrumb + .page-header {
  margin: 0px 0 20px 0;
}